@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@300;500;700&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #6F6E7A;
}

header nav {
  width: 90%;
  margin: auto;
  min-height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .logo {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Lobster', cursive;
}

header nav .mode {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

header nav .mode svg {
  fill: #fff;
}

.container {
  min-height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .box {
  width: 20rem;
  max-width: 100%;
  min-height: 70vh;
  background: #383844;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3), 0px 0px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3), 0px 0px 50px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  z-index: 99;
}

.container .box .image-side {
  height: 30vh;
  padding: 0rem 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .box .image-side .coffe-image {
  width: 12rem;
}

.container .box .titles {
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0rem 2.5rem;
}

.container .box .titles .coffe-title {
  font-size: 1.8rem;
  letter-spacing: 3px;
  color: #E1E1E1;
}

.container .box .titles .description {
  font-size: 0.7rem;
  color: #b8b8b8;
}

.container .box .button-sizes {
  height: 12vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0rem 2.5rem;
}

.container .box .button-sizes .sizes-title .size {
  color: #E1E1E1;
  font-size: 1rem;
}

.container .box .button-sizes .buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .box .button-sizes .buttons button {
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  border: 1px solid #6A6875;
  background: none;
  font-family: inherit;
  font-weight: bold;
  color: #E1E1E1;
  cursor: pointer;
}

.container .box .order-menu {
  position: relative;
  height: 10vh;
  color: #ffffff;
}

.container .box .order-menu .order-menu-wrapper {
  position: absolute;
  background: #F19265;
  padding: 0rem 2.5rem;
  bottom: -50%;
  height: 90%;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
}

.container .box .order-menu .order-menu-wrapper button {
  padding: 0.6rem 1.2rem;
  font-family: inherit;
  font-size: 0.8rem;
  border: none;
  outline: none;
  border-radius: 20px;
  background: #F4AB85;
  color: #E1E1E1;
  font-weight: bold;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  cursor: pointer;
}

.container .box .order-menu .order-menu-wrapper button:active {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

.dark-mode {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #fbfbfb;
  -webkit-clip-path: circle(0% at 94% 9%);
          clip-path: circle(0% at 94% 9%);
  z-index: -1;
}

@media screen and (max-height: 375px) {
  .container {
    min-height: 85vh;
  }
  .container .box .image-side {
    height: 40vh;
  }
  .container .box .titles {
    height: 40vh;
  }
  .container .box .button-sizes {
    height: 20vh;
  }
  .container .box .order-menu {
    height: 15vh;
  }
}
/*# sourceMappingURL=main.css.map */